@CHARSET "UTF-8";

.logostyle {
	max-height: 45px !important;
	margin-top: 10px !important;
}

#myPie {
	height: 400px;
	background-color: white;
}

.portfolio-card {
	height: 400px;
	position: relative;
	overflow: hidden;
	width: 800px;
	cursor: default;
}

。symbol-btn {
	margin-left: 0px !important;
}

.trade-history-card {
max-width: 100%;
  padding: 40px 40px;
  margin: 0 auto 25px;
  margin-top: 80px;
  border-radius: 2px;
  background: rgba(248, 248, 248, 0.7);
  box-shadow: rgba(0, 0, 0, 0.0784314) 1px 3px 1px;
}

.fixed-table-body{
	  border: 0px !important;	
	
}

#txt_search_symbol{
	
}